@page
@model IntouchBilling.Pages.PrintModel
@{
    Layout = "_printLayout";
}
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 pt-4 right">
                    <p>BILL NUMBER : @Html.DisplayFor(m => m.billing.BillNumber) </p>
                    <p>Bill Dated on&nbsp;&nbsp;&nbsp;&nbsp;: </p>
                    
                </div>
                <div class="col-sm-4 pt-4 pb-5 left ">
                    <p>Customer Name  &nbsp; : @Html.DisplayFor(m => m.billing.CustomerName)</p>
                    <p>Mobile Number  &nbsp;&nbsp; : @Html.DisplayFor(m => m.billing.Mobile) </p >
                </div>
            </div>
            <hr style="background-color: #000; position: relative;top: 10px;">
        </div>
    </div>

    <table class="table css-serial">
        <thead>
            <tr>
                <th>Item</th>
                @*<th>Date</th>*@
                <th>Category</th>
                <th>Session</th>
                <th>Payment Mode</th>
                <th>Amount</th>
                <th>Total</th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                @*<td>@Html.DisplayFor(m => m.billing.CreatedOn)</td>*@
                <td>@Html.DisplayFor(m => m.billing.Category)</td>
                <td>@Html.DisplayFor(m => m.billing.Session)</td>
                <td>@Html.DisplayFor(m => m.billing.PaymentMode)</td>
                <td>@Html.DisplayFor(m => m.billing.Amount)</td>
                <td>@Html.DisplayFor(m => m.billing.Amount)</td>

            </tr>
            <tr><td></td></tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;</td>
                @*<td><br/><input type="text" name="" placeholder=" Rs : @Html.DisplayFor(m => m.billing.Amount)"></td>*@
            </tr>

        </tbody>
    </table>
    <hr style="background-color: #000;">
 </div >

<div class="container pb-5">
    <div class="row hideData">
        <div class="col-md-12">
            <a href=""><button style="width: 160px; border-radius: 30px; background-color: #2298ca; color: #fff; " onclick="printData()">Print</button></a>&nbsp; &nbsp;
            <a href="Report"><button style="width: 160px; border-radius: 30px; background-color: #2298ca; color: #fff; " id="btnClose"> Cancel </button></a>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {

            document.getElementById("#btnClose").click(function () {
                document.location.href = $(this).attr('Report.cshtml');
            });
            var addSerialNumber = function () {
                var i = 1
                $('.table tr').each(function (index) {
                    $(this).find('td:nth-child(1)').html(index + 1);
                });
            };

            addSerialNumber();

        });
    function printData() {
        //var divToPrint = document.getElementById('divPrint');

        //Hide all other elements other than printarea.
        $(".hideData").hide();
        $("#divPrint").show();
        window.print();
    }
</script>
