@page
@model IntouchBilling.Pages.PrintModel
@{
    Layout = "_printLayout";
}
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 pt-4 right">
                    <p>BILL NUMBER : @Html.DisplayFor(m => m.billing.BillNumber) </p>
                    <p>Date &nbsp;&nbsp;&nbsp;&nbsp;: @Html.DisplayFor(m => m.billing.CreatedOn)</p>
                    <p>Payment Mode &nbsp;&nbsp;&nbsp;&nbsp;: @Html.DisplayFor(m => m.billing.PaymentMode)</p>
                </div>
                <div class="col-sm-4 pt-4 pb-5 left ">
                    <p>Customer Name  &nbsp; : @Html.DisplayFor(m => m.billing.CustomerName)</p>
                    <p>Mobile Number  &nbsp;&nbsp; : @Html.DisplayFor(m => m.billing.Mobile) </p >
                </div>
            </div>
            <hr style="background-color: #000; position: relative;top: 10px;">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Category</th>
                <th>Session</th>
                <th>Amount</th>
                <th>Total</th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>@Html.DisplayFor(m => m.billing.Category)</td>
                <td>@Html.DisplayFor(m => m.billing.Session)</td>
                <td>@Html.DisplayFor(m => m.billing.Amount)</td>
                <td>@Html.DisplayFor(m => m.billing.Amount)</td>
                <br/>
                @*<td><input type="text" name="" placeholder=" Rs : 750"></td>*@
                @*<td>@Html.TextBoxFor(m => m.billing.Amount)</td>*@
                <!--  <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a> -->
                </td>
            </tr>
        </tbody>
    </table>
    <hr style="background-color: #000;">
 </div >

<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <a href=""><button class="btn" OnClick="window.print()">Print</button></a>&nbsp; &nbsp;
            <a href="Report"><button class="submit" id="btnClose"> Cancel </button></a>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {

            document.getElementById("#btnClose").click(function () {
                document.location.href = $(this).attr('Report.cshtml');
            });

        });
</script>
